<div class="list-group list-group-flush scrollarea">
    <% if @meetings  %>
      <!-- true -->
      <% @meetings.each do |meeting| %>
      <%= link_to meeting_path(meeting), class: 'text-white bg-primary' do %>

        <div class="d-flex w-100 align-items-center justify-content-between">
          <small><%= "#{meeting.start_time.strftime('%R - %d %b %Y' )}" %></small>
          <small><%= meeting.start_time.strftime('%a') %></small>
        </div>
        <div>
          <strong class="mb-1"><%= meeting.name %></strong>
        </div>
        <hr>
      <% end %>
    <% end %>
  <% end %>
</div>
