<div class='position-relative'>
  <%= link_to '#', data: { 'bs-togle': 'modal', 'bs-target': '#add_event', 'start-date': day.strftime('%d/%m/%Y'), 'turbo': 'false' }, class: 'position-absolute bottom-0 end-0' do %>
  <i class="fas fa-plus-square text-secondary"></i>
  <% end %>
</div>
