<div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0" data-bs-scroll="true" tabindex="-1" id="eventlist" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Schedule meetings</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <div class="list-group list-group-flush border-bottom scrollarea p-0">
      Some content here...
    </div>


  </div>
</div>
