<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
  <!-- Tab Name -->
  <li class="nav-item active border border-bottom-0 bg-info" role="presentation">
    <%= link_to "Home", home_index_path, class:"nav-link text-white", id:"dashboard-tab" %>
  </li>
  <!-- Tab Name -->
  <li class="nav-item" role="presentation">
    <%= link_to "Meetings", meetings_path, class:"nav-link text-secondary", id:"abonnés-tab" %>
  </li>
</ul>
