<div id="<%= dom_id calendar %>">
  <p>
    <strong>Name:</strong>
    <%= calendar.name %>
  </p>

  <p>
    <strong>Background color:</strong>
    <%= calendar.background_color %>
  </p>

  <p>
    <strong>Text color:</strong>
    <%= calendar.text_color %>
  </p>

</div>
