<div class='d-flex align-items-center'>
  <div class='d-flex me-1'>
    <span class='calendar-color-circle' style='background-color: <%= calendar.background_color %>;'></span>
  </div>

  <div class='mr-auto flex-grow-1'>
    <div class='text-white'>
      <%= calendar.name %>
    </div>
  </div>

  <div class='ms-auto'>
    <%= link_to '#' do %>
      <%= button_tag size: '15x15', data: { 'calendar-state': 'displayed', 'calendar-name': calendar.name } do %>
        <i class="fas fa-eye"></i>
      <% end %>
    <% end %>
  </div>
</div>
